<div>
    <section class="contactUs py-5" id="contactUs">
        <div class="container text-center">
            <h2 class="display-4 mb-4 section--header">تواصل معنا</h2>
            <div class="row flex-column flex-md-row">
                <div class="col info">
                    <div class="row info_row">
                        <div>رقم الهاتف :</div>
                        <div>966-12-3456789+</div>
                    </div>
                    <div class="row info_row">
                        <div>البريد الألكتروني :</div>
                        <div>support@safarni.com</div>
                    </div>
                    <div class="row info_row">
                        <div>العنوان :</div>
                        <div>المدينة المنورة, المملكة العربية السعودية</div>
                    </div>
                </div>
                <div class="col">
                    <div class="map" id="map"></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center py-4">
        <small
            >&copy; <span id="currentYear"></span> سفرني. جميع الحقوق
            محفوظة.</small
        >
    </footer>
</div>
