<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a
            class="navbar-brand d-flex gap-3 align-items-center"
            href="index.html"
        >
            <div class="logo-container">
                <img
                    class="w-100"
                    src="../src/images/logo.png"
                    alt="safarni logo"
                />
            </div>
            سفرني
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            القائمة
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html"
                        >الصفحة الرئيسية</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html"
                        >عنا</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="post.html"
                        >خدماتنا</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html"
                        >تواصل معنا</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
