$color-main: #91773f;
$color-main-light: #e6a417;
$color-main-dark: #3b362d;

$color-secondary: #3a62a6;
$color-secondary-light: #1763e6;
$color-secondary-dark: #3d4c66;

$color-light: #f5f5f5;
$color-dark: #333333;

$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;

$color-white: #ffffff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cairo", sans-serif;
    color: $color-secondary;
}

.navbar {
    &_brand:hover {
        color: $color-main !important;
        cursor: pointer;
    }
    .logo-container {
        width: 30px;
        height: 30px;
        .svg-logo-icon {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-color: currentColor;
            mask-image: url(../images/logo.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
        }
    }
}

#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 1px solid #dee2e6;
    background-color: #fff;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    .navbar-brand {
        font-weight: 800;
    }

    .navbar-toggler {
        font-size: 0.75rem;
        font-weight: 800;
        padding: 0.75rem;
        text-transform: uppercase;
    }

    .navbar-nav {
        > li.nav-item {
            > a.nav-link {
                font-size: 0.75rem;
                font-weight: 800;
                letter-spacing: 0.0625em;
                text-transform: uppercase;
            }
        }
    }

    @media (min-width: 992px) {
        border-bottom: 1px solid transparent;
        background: transparent;

        .navbar-brand {
            color: #fff;

            &:focus,
            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }

        .navbar-nav {
            > li.nav-item {
                > a.nav-link {
                    color: #fff;

                    &:focus,
                    &:hover {
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        transition: background-color 0.2s;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &.is-fixed {
            position: fixed;
            top: -83px;
            transition: transform 0.2s;
            border-bottom: 1px solid white;
            background-color: rgba(255, 255, 255, 0.9);

            .navbar-brand {
                color: #212529;

                &:focus,
                &:hover {
                    color: #0085a1;
                }
            }

            .navbar-nav {
                > li.nav-item {
                    > a {
                        color: #212529;

                        &:focus,
                        &:hover {
                            color: #0085a1;
                        }
                    }
                }
            }
        }

        &.is-visible {
            transform: translate3d(0, 100%, 0);
        }
    }
}

.login {
    align-self: center;
    &_btn {
        background-color: $color-main !important;
        border-color: $color-main !important;
        font-size: 0.75rem !important;
        &:focus,
        &:focus-visible {
            background-color: $color-main !important;
            border-color: $color-main !important;
            box-shadow: none !important;
        }
        &:active {
            background-color: $color-main-dark !important;
            border-color: $color-main-dark !important;
            color: $color-main-light !important;
        }
        &:hover {
            background-color: $color-main-light !important;
            border-color: $color-main-light !important;
            color: $color-main-dark !important;
        }
    }
}

.btn.btn-custom {
    &,
    &:link,
    &:visited {
        background-color: $color-main;
        border-color: $color-main;
    }
    &:focus,
    &:focus-visible {
        background-color: $color-main;
        border-color: $color-main;
        box-shadow: none;
    }
    &:active {
        background-color: $color-main-dark !important;
        border-color: $color-main-dark !important;
        color: $color-main-light !important;
    }
    &:hover {
        background-color: $color-main-light;
        border-color: $color-main-light;
        color: $color-main-dark;
    }
}

header {
    background-image: url("../images/home-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .heading-container {
        top: 50%;
        transform: translateY(-50%);
        color: $color-white;
        z-index: 1;
    }

    .site-heading {
        padding-top: 6rem;
        padding-bottom: 6rem;
        color: $color-main-light;

        h1 {
            font-size: 5rem;
            margin-bottom: 2rem;
        }

        .subheading {
            font-size: 2rem;
        }
    }
}

.about {
    background-color: $color-main-dark;
    position: relative;
    color: $color-secondary-light;
    font-weight: 600;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .container {
        position: relative;
        z-index: 1;
    }
}

.services {
    background-color: $color-gray-300;
    &_card {
        background-color: inherit;
        border: none;
        transition: all 0.5s ease;
        max-width: 540px;
        @media screen and (max-width: 767px) {
            padding-block: 1rem;
        }
        &--icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: $color-main;
            font-size: 4rem;
            @media screen and (max-width: 767px) {
                height: auto;
            }
        }
        &--text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: start;
            height: 100%;
            color: $color-main-dark;
            @media screen and (max-width: 767px) {
                text-align: center;
                height: auto;
            }
        }
        &:hover {
            background-color: $color-gray-200;
            transform: translateY(-10px);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        }
    }
}

.trips {
    background-color: $color-gray-200;
}

.trip {
    max-width: 100%;
    &_card {
        border: none;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        padding: 0;
        min-width: 350px;
        &--image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &--body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
        }
        &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            &--name {
                color: $color-main-dark;
                font-weight: 600;
                font-size: 1.5rem;
            }
            &--price {
                color: $color-main;
                font-weight: 600;
                font-size: 3rem;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 0.5rem;
                span {
                    color: $color-main-dark;
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
        }
    }
}

.contactUs {
    background-color: $color-gray-300;
    gap: 3rem;
    .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        &_row {
            div:first-child {
                font-size: 1.5rem;
                font-weight: 600;
            }

            div:last-child {
                font-size: 1.25rem;
                font-weight: 400;
                color: $color-main;
            }
        }
    }

    .map {
        margin: 20px;
        position: relative;
        width: 100%;
        height: 400px;
    }
}

// form page
.loginForm {
    &__group {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
    &__input {
        border: none !important;
        border-bottom: 2px solid $color-gray-300 !important;
        transition: all 0.3s, margin-top 0s;
        text-align: right;
        padding-right: calc(1.5em + 0.75rem);
        margin-bottom: 2px;
        margin-top: 1.3125rem;
        &:focus {
            border: none !important;
            border-bottom: 2px solid $color-main !important;
            box-shadow: none !important;
            margin-bottom: 0;
        }
        &.is-invalid {
            border-color: red !important;
        }

        &::-webkit-input-placeholder {
            color: rgba($color-main-dark, $alpha: 0.8);
        }
    }

    &__label {
        font-size: 1rem;
        font-weight: 600;
        margin-right: calc(1.5em + 0.75rem);
        margin-top: 0.7rem;
        margin-bottom: 0.5rem;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2.5rem);
    }
    &__forget-pass {
        transition: all 0.3s;
        color: $color-gray-600;
        &:hover {
            color: $color-secondary-light;
        }
    }
}

.loginPage {
    &__main {
        min-height: calc(100vh - 80px);
    }
    &__form {
        max-width: 400px;
    }
}

.registerPage {
    &__main {
        min-height: calc(100vh - 80px);
        margin-inline: auto;
    }
    &__form {
        width: 80%;
        max-width: 500px;
    }
}

.invalid-feedback {
    display: none;
    margin: 0 !important;
    &.show {
        display: block;
    }
}

.invalid-feedback.show + .loginForm__input {
    margin-top: 0;
}

.toggle-input {
    top: 20px;
    left: 10px;
}

footer {
    background-color: $color-gray-200;
}
