$color-main: #91773f;
$color-main-light: #e6a417;
$color-main-dark: #3b362d;

$color-secondary: #3a62a6;
$color-secondary-light: #1763e6;
$color-secondary-dark: #3d4c66;

$color-light: #f5f5f5;
$color-dark: #333333;

$color-white: #ffffff;

body {
    font-family: "Cairo", sans-serif;
}
